<button id="get-all-tickets"> Get All Tickets </button>

<div id="main">
  <h1 id="header"> SUP MAN </h1>
  <script type="text/template" id="itemtemplate">
  <h1> {{item}} </h1>
  <p> {{comments}} </p>
  </script>
</div>